<div class="container-fluid">
	<md-content md-theme="docs-dark" layout-padding>
		<span class="md-headline">Inflow   <strong ng-style="ctrl.getColor(ctrl.totalInflow)">{{ctrl.totalInflow}}</strong></span>
	</md-content>
	<md-content md-theme="docs-dark" layout-padding>
		<span class="md-headline">Outflow  <strong ng-style="ctrl.getColor(ctrl.totalOutflow)">{{ctrl.totalOutflow}}</strong></span>
	</md-content>
	<md-content md-theme="docs-dark" layout-padding>
		<span class="md-headline">Total  <strong ng-style="ctrl.getColor(ctrl.total)">{{ctrl.total}}</strong></span>
	</md-content>

	<div class="row">
		<div class="col-xs-12">
			<md-button href ui-sref="cashflow.createCashflow({type:'income'})" class="md-raised md-primary">Add Income</md-button>
			<md-button href ui-sref="cashflow.createCashflow({type:'expense'})" class="md-raised md-warn">Add Expense</md-button>
		</div>
	</div>


	<div class="row">
		<table class="table">
			<thead>
				<th>Date</th>
				<th>Category</th>
				<th>Amount</th>
			</thead>
			<tr ng-repeat="cashflow in ctrl.cashflowList">
				<td>
					<h3>{{cashflow.date | date :  "dd-MM-yyyy hh:mm:ss" }}</h3>
				</td>
				<td>
					<h3>{{cashflow.category}}</h3>
				</td>
				<td>
					<!--<a href ng-click="ctrl.open($index)">{{cashflow.amount}}</a>-->
					<amount amount="cashflow.amount"></amount>
				</td>
			</tr>
		</table>
	</div>

</div>
