<div>
	<h2>Add {{ctrl.type}}:</h2>

	<md-content layout-padding ng-cloak>
	<form ng-submit="ctrl.addCashflow()">
		<div layout-gt-xs="column">
			<div>
				<md-autocomplete
						md-selected-item="ctrl.cashflow.category"
						md-search-text="ctrl.searchText"
						md-items="value in ctrl.querySearch(ctrl.searchText)"
						md-item-text="value"
						md-min-length="0"
						placeholder="Enter category"
						md-autofocus>
					<md-item-template>
						<span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{value}}</span>
					</md-item-template>
					<md-not-found>
						No categories matching "{{ctrl.searchText}}" were found. Create a new one!
					</md-not-found>
				</md-autocomplete>
			</div>
			<div>
				<md-input-container class="md-block">
					<label>Amount</label>
					<input type="number" ng-model="ctrl.cashflow.amount" class="form-control" required>
				</md-input-container>
			</div>
			<div flex-gt-xs>
				<md-datepicker ng-model="ctrl.cashflow.date" md-placeholder="Enter date"></md-datepicker>
			</div>
			<button class="btn btn-primary" type="submit">Add cashflow</button>
		</div>
	</form>
	</md-content>

</div>