<form ng-submit="ctrl.register()">

    <md-content md-theme="docs-dark" layout-padding>
        <md-input-container class="md-block">
            <label>Username</label>
            <input ng-model="ctrl.user.name">
        </md-input-container>

        <md-input-container class="md-block">
            <label>Password</label>
            <input ng-model="ctrl.user.pass" type="password">
        </md-input-container>

        <md-input-container class="md-block">
            <label>Password confirm</label>
            <input ng-model="ctrl.user.pass2" type="password">
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary">Submit</md-button>
    </md-content>
    <div>
        {{ctrl.message}}
    </div>
</form>